
:root {
  --primary: #002147;
  --light: #ffffff;
  --bg: #f4f4f4;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--primary);
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url('jmu.jpeg');
  background-size: cover;
  color: white;
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 42px;
}

.search-box {
  margin-top: 20px;
}

.search-box input {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: none;
}

.container {
  padding: 20px;
}

.section {
  scroll-margin-top: 80px;
  margin-bottom: 30px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
}

.course-card {
  background: rgb(103, 143, 204);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  transition: transform 0.3s;
}

.course-card:hover {
  transform: scale(1.05);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: var(--primary);
  color: white;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

form input, form textarea {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #001530;
}

footer {
  background: var(--primary);
  color: white;
  text-align: center;
  padding: 15px;
}

.toggle {
  cursor: pointer;
  background: white;
  color: var(--primary);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.dark {
  background: #121212;
  color: white;
}

.dark .section {
  background: #1e1e1e;
}
